<!DOCTYPE html>
<html>
<head>
	<title>First App</title>
</head>
<body>

	<h1>Blogs</h1>
	<form action="/index" method="post">
		{% csrf_token %}
		<textarea></textarea>
	</form><br><br>
	<a href="/blogs/create">CREATE</a>

	<p>New Blogs</p>
	<form action="/blogs/new" method="post">
		{% csrf_token %}
		<input type="text" name="" placeholder="enter blog name">
		<input type="submit" name="" value="submit">
	</form><br><br>
	<form action="/blogs/edit" method="post">
		{% csrf_token %}
		<input type="text" name="" placeholder="enter number">
		<input type="submit" name=""  value="edit">

	</form>


	
	
</body>
</html>

